In [1]:
%load_ext autotime

In [2]:
import sys
sys.path.append('/Users/Pradap/Documents/Research/Python-Package/enrique/')

time: 1.04 ms

In [3]:
import magellan as mg

DEBUG:Cloud:Log file (/Users/pradap/.picloud/cloud.log) opened

time: 756 ms

In [4]:
mg.init_jvm('/Library/Java/JavaVirtualMachines/jdk1.8.0_45.jdk/Contents/Home/jre/lib/server/libjvm.dylib')

True

time: 127 ms

In [5]:
acm = mg.read_csv(mg.get_install_path() + '/datasets/DBLP_ACM/ACM_cleaned.csv'
                 , key='id')

time: 19.2 ms

In [6]:
dblp = mg.read_csv(mg.get_install_path() + '/datasets/DBLP_ACM/DBLP_cleaned.csv', key='id')

time: 22.2 ms

In [37]:
ab = mg.AttrEquivalenceBlocker()
C1 = ab.block_tables(acm, dblp, 'year', 'year')

time: 1.38 s

In [8]:
acm.groupby('year').groups.keys()

[1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003]

time: 3.1 ms

In [9]:
dblp.groupby('year').groups.keys()

[1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003]

time: 3.49 ms

In [10]:
feat_table = mg.get_features_for_blocking(acm, dblp)

WARNING:magellan.feature.autofeaturegen:id type and id type are different
WARNING:magellan.feature.autofeaturegen:venue type and venue type are different

time: 90.8 ms

In [11]:
mg._atypes1['venue']

'str_bt_5w_10w'

time: 2.05 ms

In [12]:
mg._atypes2['venue'] = 'str_bt_5w_10w'

time: 797 µs

In [13]:
feat_table = mg.get_features(acm, dblp, mg._atypes1, mg._atypes2, 
                            mg._block_c, mg._block_t, mg._block_s)

WARNING:magellan.feature.autofeaturegen:id type and id type are different

time: 4.8 ms

In [14]:
feat_table['feature_name']

0             title_title_jac_qgm_3_qgm_3
1         title_title_cos_dlm_dc0_dlm_dc0
2                         title_title_mel
3         authors_authors_jac_qgm_3_qgm_3
4     authors_authors_cos_dlm_dc0_dlm_dc0
5                     authors_authors_mel
6             venue_venue_jac_qgm_3_qgm_3
7         venue_venue_cos_dlm_dc0_dlm_dc0
8                         venue_venue_mel
9                           year_year_exm
10                          year_year_anm
11                          year_year_lev
Name: feature_name, dtype: object

time: 3.86 ms

In [15]:
rb = mg.RuleBasedBlocker()
rb.add_rule('venue_venue_jac_qgm_3_qgm_3(ltuple, rtuple) < 0.5', feat_table)

True

time: 2.66 ms

In [16]:
len(C1)*0.00001

6.012840000000001

time: 1.71 ms

In [17]:
mg._verbose = True
mg._percent = 1
#C2 = rb.block_candset(C1)

time: 1.24 ms

In [21]:
A = mg.load_dataset('table_A')

time: 3.46 ms

In [26]:
for i, r in C1.iterrows():
    pass

time: 23.1 s

In [19]:
C2 = C1.T.copy()

time: 218 ms

In [20]:
C2.head(3)

,0,1,2,3,4,5,6,7,8,9,...,601274,601275,601276,601277,601278,601279,601280,601281,601282,601283
_id,0,1,2,3,4,5,6,7,8,9,...,601274,601275,601276,601277,601278,601279,601280,601281,601282,601283
ltable.id,304586,304586,304586,304586,304586,304586,304586,304586,304586,304586,...,945741,945741,945741,945741,945741,945741,945741,945741,945741,945741
rtable.id,journals/sigmod/Mackay99,conf/sigmod/Keim99,conf/vldb/ChenCFGJMTW99,conf/sigmod/BraumandlKK99,conf/vldb/NinkHR99,conf/vldb/Graefe99,conf/vldb/JagadishKNS99,journals/vldb/HarderST99,conf/sigmod/Mohan99,conf/vldb/Sarawagi99,...,journals/sigmod/AilamakiH03,conf/vldb/CliftonFHKLS03,conf/sigmod/KimC03,conf/vldb/AnciauxBP03,conf/sigmod/CohenM03,conf/vldb/WangSG03,conf/vldb/SchindlerAG03,conf/vldb/ShiSZ03,journals/tods/KarpSP03,conf/vldb/LimWV03

time: 81.7 ms

In [27]:
col = C1.columns
l_df = C1.get_property('ltable').set_index('id', inplace=False, drop=False)
r_df = C1.get_property('rtable').set_index('id', inplace=False, drop=False)
for v in C1.itertuples():
    pass

time: 254 ms

In [30]:
C1.columns

Index([u'_id', u'ltable.id', u'rtable.id', u'ltable.title', u'ltable.authors',
       u'ltable.venue', u'rtable.title', u'rtable.authors', u'rtable.venue'],
      dtype='object')

time: 2.13 ms

In [35]:
acm.head(5)

,id,title,authors,venue,year
0,304586,The WASA2 object-oriented workflow management ...,"Gottfried Vossen, Mathias Weske",International Conference on Management of Data,1999
1,304587,A user-centered interface for querying distrib...,"Isabel F. Cruz, Kimberly M. James",International Conference on Management of Data,1999
2,304589,"World Wide Database-integrating the Web, CORBA...","Athman Bouguettaya, Boualem Benatallah, Lily H...",International Conference on Management of Data,1999
3,304590,XML-based information mediation with MIX,"Chaitan Baru, Amarnath Gupta, Bertram Ludäsche...",International Conference on Management of Data,1999
4,304582,The CCUBE constraint object-oriented database ...,"Alexander Brodsky, Victor E. Segal, Jia Chen, ...",International Conference on Management of Data,1999

time: 10 ms

In [ ]:
A = mg.load_dataset('table_A')
C3 = mg.sample_table(C1, 10)
col = C1.columns
count = 1
for row in C1.itertuples(index=False):
    l = l_df.ix[row[1]]
    r = r_df.ix[row[2]]
    count += 1
    if count%10000 == 0:
        print "M - "  + str(count)
    x = rb.apply_rules(l, r)

M - 10000
M - 20000
M - 30000
M - 40000
M - 50000

In [29]:
dict(zip(C1.columns, v))

{'_id': 601283,
 'ltable.authors': 'Review of The data warehouse toolkit: the complete guide to dimensional modeling (2nd edition) by Ralph Kimball, Margy Ross. John Wiley & Sons, Inc. 2002.',
 'ltable.id': 601283,
 'ltable.title': 'conf/vldb/LimWV03',
 'ltable.venue': 'Alexander A. Anisimov',
 'rtable.authors': 'SASH: A Self-Adaptive Histogram Set for Dynamically Changing Workloads',
 'rtable.id': 945741,
 'rtable.title': 'ACM SIGMOD Record',
 'rtable.venue': 'Lipyeow Lim, Min Wang, Jeffrey Scott Vitter'}

time: 2.51 ms