In [1]:
import sys
sys.path.append('/Users/pradap/Documents/Research/Python-Package/enrique/')

In [37]:
import magellan as mg
import numpy as np

In [33]:
from magellan import MTable

In [38]:
# sample one table using random sampling
def sample_table(table, size, replace=False):
    """
    Sample MTable
    Parameters
    ----------
    table : MTable, input table to be sampled
    size : int, number of samples
    replace : boolean, whether sampling should be done with replacement.
            By default, it is set to False.
    Returns
    -------
    sampled_table: MTable, sampled table
    """
    if len(table) == 0:
        raise AttributeError('size of table is 0')
    if len(table) < size:
        raise AttributeError('sample size is larger than input table size')

    s_indices = np.random.choice(len(table), size, replace=replace)
    # sort the indices - just to have an order
    s_indices = sorted(s_indices)
    sampled_table =  table.iloc[list(s_indices)]
    #print sampled_table.properties
    sampled_table = MTable(sampled_table, key=table.get_key())
    sampled_table.properties = table.properties
    return sampled_table

In [39]:
# Blocking
## plan : 
### A, B -----------overlap blocking 
#(title)-----------------------------> candset  |
### A, B ------------rule-based-blocking(title & director)
# ----------------> candset |----union--->candset


A = mg.read_csv('tableA.csv', key='ID')
B = mg.read_csv('tableB.csv', key='ID')
A1 = sample_table(A, 500) 
B1 = sample_table(B, 500)
ob = mg.OverlapBlocker()
ab = mg.AttrEquivalenceBlocker()

In [40]:
C = ab.block_tables(A1, B1, 'Title', 'Title', 'Title', 'Title')
C.head()

   _id  ltable.ID  rtable.ID ltable.Title rtable.Title
0    0         40         39    Barricade    Barricade
1    1        139        130    Extracted    Extracted
2    2        321        297      Cop Out      Cop Out
3    3        347        322      Flipped      Flipped
4    4        384        353       Kaboom       Kaboom

In [41]:
D = ob.block_tables(A1, B1, 'Title', 'Title', 
                    l_output_attrs=['Title'], r_output_attrs=['Title'])
D.head()

0%                          100%
[##############################] | ETA[sec]: 0.000
Total time elapsed: 1.800 sec

,_id,ltable.ID,rtable.ID,ltable.Title,rtable.Title
0,0,8,2606,About Cherry,Much Ado About Nothing
1,1,8,2721,About Cherry,10 Things I Hate About You
2,2,9,180,Abraham Lincoln vs. Zombies,Lincoln
3,3,9,525,Abraham Lincoln vs. Zombies,Hoodwinked Too! Hood vs Evil
4,4,9,550,Abraham Lincoln vs. Zombies,The Lincoln Lawyer

In [42]:
feature_table = mg.get_features_for_blocking(A1, B1)
#feature_table

WARNING:magellan.feature.autofeaturegen:Rating type and Rating type are different
WARNING:magellan.feature.autofeaturegen:Cast type and Cast type are different
WARNING:magellan.feature.autofeaturegen:Genre type and Genre type are different
WARNING:magellan.feature.autofeaturegen:ContentRating type and ContentRating type are different

In [43]:
rb = mg.RuleBasedBlocker()
rb.add_rule(['Title_Title_lev(ltuple,rtuple) < 0.8',
             'Director_Director_nmw(ltuple,rtuple) < 0.8'], feature_table)

True

In [27]:
mg.init_jvm() #Do we even need this? Doesn't work on my machine.
# Pradap --- if doesn't work let me know what happens and error msg if any.

WARNING:magellan.utils.helperfunctions:JVM is already running

True

In [44]:
#WORKING PERFECTLY! EDIT DISTANCE!
E = rb.block_tables(A1, B1, 
                    l_output_attrs=['Title'], r_output_attrs=['Title'])
E.head()

0%                          100%
[##############################] | ETA[sec]: 0.000
Total time elapsed: 37.313 sec

,_id,ltable.ID,rtable.ID,ltable.Title,rtable.Title
0,0,8,159,About Cherry,Comedy Dynamics Presents: Bill Hicks
1,1,8,1031,About Cherry,The Bounce Back
2,2,8,1421,About Cherry,Criminal Activities
3,3,8,1871,About Cherry,R5: All Day All Night
4,4,9,159,Abraham Lincoln vs. Zombies,Comedy Dynamics Presents: Bill Hicks

In [8]:
def year_blocker_function(x, y):
    x_date = str(x['Year'])
    y_date = str(y['Year'])
    if(x_date=='NULL' or y_date=='NULL' or x_date == 'nan' 
       or y_date == 'nan'):
        return False #Since one of them is NULL, 
    we cannot block using this feature
    x_year = int(x_date.split('-')[0])
    y_year = int(y_date.split('-')[0])
    
    if(x_year > y_year + 1 or x_year < y_year - 1):
        return True #Block the tuples
    
    return False

bb = mg.BlackBoxBlocker()
bb.set_black_box_function(year_blocker_function)

True

In [ ]:
# F = bb.block_tables(A, B, 
#                     l_output_attrs=['Title'], 
#                     r_output_attrs=['Title'])

0%                          100%
[                              ]

In [29]:
#F #NOW F will have all movie pairs that have 
# been released within one year of each other
#We need to apply this along with other blockers 
#to make it practical

In [45]:
G = mg.combine_block_outputs_via_union([D, E])
G.head()

,_id,ltable.ID,rtable.ID,ltable.Title,rtable.Title
0,0,8,159,About Cherry,Comedy Dynamics Presents: Bill Hicks
1,1,8,1031,About Cherry,The Bounce Back
2,2,8,1421,About Cherry,Criminal Activities
3,3,8,1871,About Cherry,R5: All Day All Night
4,4,8,2606,About Cherry,Much Ado About Nothing

In [46]:
 corres_var = [('ID','ID'),('Title','Title'),('Director','Director')]
 mg.debug_blocker(A, B, G, attr_corres=corres_var, output_size=200)

0%                          100%
[##############################] | ETA[sec]: 0.000
Total time elapsed: 21.566 sec

,_id,similarity,ltable.ID,rtable.ID,ltable.Title,rtable.Title,ltable.Director,rtable.Director
0,0,1,2760,2426,Before Midnight,Before Midnight,Richard Linklater,Richard Linklater
1,1,1,2762,2429,Beside Still Waters,Beside Still Waters,Chris Lowell,Chris Lowell
2,2,1,2767,2434,Big Sur,Big Sur,Michael Polish,Michael Polish
3,3,1,2770,2437,Blackfish,Blackfish,Gabriela Cowperthwaite,Gabriela Cowperthwaite
4,4,1,2763,2430,Best Kept Secret,Best Kept Secret,Samantha Buck,Samantha Buck
5,5,1,2768,2435,The Big Wedding,The Big Wedding,Justin Zackham,Justin Zackham
6,6,1,2769,2436,Black Nativity,Black Nativity,Kasi Lemmons,Kasi Lemmons
7,7,1,2777,2444,The Book Thief,The Book Thief,Brian Percival,Brian Percival
8,8,1,2791,2457,CBGB,CBGB,Randall Miller,Randall Miller
9,9,1,2764,2431,The Best Man Holiday,The Best Man Holiday,Malcolm D. Lee,Malcolm D. Lee
10,10,1,2765,2432,Beyond the Farthest Star,Beyond The Farthest Star,Andrew Librizzi,Andrew Librizzi
11,11,1,2773,2440,Blue Caprice,Blue Caprice,Alexandre Moors,Alexandre Moors
12,12,1,2774,2441,Blue Jasmine,Blue Jasmine,Woody Allen,Woody Allen
13,13,1,2776,2443,The Book of Esther,The Book of Esther,David A.R. White,David A.R. White
14,14,1,2775,2442,Blue Ruin,Blue Ruin,Jeremy Saulnier,Jeremy Saulnier
15,15,1,2779,2446,The Brass Teapot,The Brass Teapot,Ramaa Mosley,Ramaa Mosley
16,16,1,2778,2445,Bounty Killer,Bounty Killer,Henry Saine,Henry Saine
17,17,1,2802,2465,Concussion,Concussion,Peter Landesman,Peter Landesman
18,18,1,2839,2500,The Frankenstein Theory,The Frankenstein Theory,Andrew Weiner,Andrew Weiner
19,19,1,2772,2439,The Bling Ring,The Bling Ring,Sofia Coppola,Sofia Coppola
20,20,1,2781,2448,Bridegroom,Bridegroom,Linda Bloodworth-Thomason,Linda Bloodworth-Thomason
21,21,1,2780,2447,Breathe In,Breathe In,Drake Doremus,Drake Doremus
22,22,1,2799,2462,Company of Heroes,Company of Heroes,Don Michael Paul,Don Michael Paul
23,23,1,2789,2456,Captain Phillips,Captain Phillips,Paul Greengrass,Paul Greengrass
24,24,1,2850,2509,The Ghost Army,The Ghost Army,Rick Beyer,Rick Beyer
25,25,1,2846,2505,Gangster Squad,Gangster Squad,Ruben Fleischer,Ruben Fleischer
26,26,1,2814,2477,Despicable Me 2,Despicable Me 2,Pierre Coffin,Pierre Coffin
27,27,1,2792,2458,Charlie Countryman,Charlie Countryman,Fredrik Bond,Fredrik Bond
28,28,1,2800,2463,The Company You Keep,The Company You Keep,Robert Redford,Robert Redford
29,29,1,2825,2486,Enough Said,Enough Said,Nicole Holofcener,Nicole Holofcener
...,...,...,...,...,...,...,...,...
170,170,1,3065,1552,Super Size Me,Super Size Me,Morgan Spurlock,Morgan Spurlock
171,171,1,3028,2664,She Wants Me,She Wants Me,Rob Margolies,Rob Margolies
172,172,1,3034,2670,The Smurfs 2,The Smurfs 2,Raja Gosnell,Raja Gosnell
173,173,1,3029,2665,Short Term 12,Short Term 12,Destin Daniel Cretton,Destin Daniel Cretton
174,174,1,3055,2690,A Teacher,A Teacher,Hannah Fidell,Hannah Fidell
175,175,1,2854,2513,A Good Day to Die Hard,A Good Day To Die Hard,John Moore,John Moore
176,176,1,3021,2657,Saving Santa,Saving Santa,Leon Joosen,Leon Joosen
177,177,1,2826,2201,Epic,Epic,Chris Wedge,Chris Wedge
178,178,1,2898,2552,Inequality for All,Inequality For All,Jacob Kornbluth,Jacob Kornbluth
179,179,1,2973,2615,Out of the Furnace,Out of the Furnace,Scott Cooper,Scott Cooper
180,180,1,3018,2655,Saving Lincoln,Saving Lincoln,Salvador Litvak,Salvador Litvak
181,181,1,2940,2589,The Lone Ranger,The Lone Ranger,Gore Verbinski,Gore Verbinski
182,182,1,3041,2676,Spirit of the Marathon II,Spirit Of The Marathon II,Jon Dunham,Jon Dunham
183,183,1,3045,2680,Star Trek Into Darkness,Star Trek Into Darkness,J.J. Abrams,J.J. Abrams
184,184,1,3020,2656,Saving Mr. Banks,Saving Mr. Banks,John Lee Hancock,John Lee Hancock
185,185,1,2939,2588,Little Feet,Little Feet,Alexandre Rockwell,Alexandre Rockwell
186,186,1,3080,2710,White Reindeer,White Reindeer,Zach Clark,Zach Clark
187,187,1,3015,2652,Salinger,Salinger,Shane Salerno,Shane Salerno
188,188,1,2955,2600,McCanick,McCanick,Josh C. Waller,Josh C. Waller
189,189,1,2921,2570,The Kings of Summer,The Kings of Summer,Jordan Vogt-Roberts,Jordan Vogt-Roberts
190,190,1,2935,2584,Liars All,Liars All,Brian Brightly,Brian Brightly
191,191,1,3044,2679,Stand Up Guys,Stand Up Guys,Fisher Stevens,Fisher Stevens
192,192,1,3031,2667,Side Effects,Side Effects,Steven Soderbergh,Steven Soderbergh
193,193,1,2959,2603,Monsters University,Monsters University,Dan Scanlon,Dan Scanlon
194,194,1,2920,2569,Killing Season,Killing Season,Mark Steven Johnson,Mark Steven Johnson
195,195,1,3016,2653,The Saratov Approach,The Saratov Approach,Garrett Batty,Garrett Batty
196,196,1,2983,2625,Parker,Parker,Taylor Hackford,Taylor Hackford
197,197,1,2951,2598,Man of Steel,Man of Steel,Zack Snyder,Zack Snyder
198,198,1,3003,2641,The Purge,The Purge,James DeMonaco,James DeMonaco
199,199,1,3073,2705,Warm Bodies,Warm Bodies,Jonathan Levine,Jonathan Levine